<% 
let baseDir = "";
%> 
<!DOCTYPE html>
<html>
<head>
    <%- include(baseDir+'_head.ejs', {pageTitle: "", preDesc: "", preKeywords: ""}); %> 
</head>
<body>
    <%- include(baseDir+'_header.ejs'); %>
    <p>
        てすと
        <a href="#">あ</a>
    </p>
    <%- include(baseDir+'_footer.ejs'); %>
</body>
</html>