html {
    font-size: 10px;
}

body {
    font-size: 1.3rem;
    max-width: 1280px;
    margin: 0 auto;
    @include desktop{
        background-color: aqua;
    }

    @include mobile{
        background-color: green;
    }
}